<footer class="footer">
   <nav class="footer__nav">
       <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
           <img src="assets/images/icon-instagram.svg"
                alt="link to instagram"
                class="footer-logo">
       </a>
       <a href="https://bsky.app/" target="_blank" rel="noopener noreferrer">
           <img src="assets/images/icon-bluesky.svg"
                alt="link to bluesky"
                class="footer-logo">
       </a>
       <a href="https://www.tiktok.com/" target="_blank" rel="noopener noreferrer">
           <img src="assets/images/icon-tiktok.svg"
                alt="link to tiktok" class="footer-logo">

       </a>
   </nav>
   <div>
       <p>Made With ❤️ and 🥑</p>
   </div>
</footer>
