<main class="home">
    <section class="benefits">
        <h2 class="text-present-2 text-center">What you’ll get</h2>
        <ul class="benefits__list">
            <li class="benefit">
                <div>
                    <img class="benefi__icon-img"
                        alt="whole food recipes"
                        src="assets/images/icon-whole-food-recipes.svg"
                    />
                </div>
                <div class="benefit__content">
                    <h3 class="text-present-3">
                        Whole-food recipes
                    </h3>
                    <p class="text-present-6">
                        Each dish uses everyday, unprocessed ingredients.
                    </p>
                </div>
            </li>
            <li class="benefit">
                <div>
                    <img class="image-benefit"
                         alt="minimun fuss"
                         src="assets/images/icon-minimum-fuss.svg"
                    />
                </div>
                <div class="benefit__content">
                    <h3 class="text-present-3">
                        Minimum fuss
                    </h3>
                    <p class="text-present-6">
                        All recipes are designed to make eating healthy quick and easy.
                    </p>
                </div>
            </li>
            <li class="benefit">
                <div>
                    <img class="image-benefit"
                         alt="search in seconds"
                         src="assets/images/icon-search-in-seconds.svg"
                    />
                </div>
                <div class="benefit__content">
                    <h3 class="text-present-3">
                        Search in seconds
                    </h3>
                    <p class="text-present-6">
                        Filter by name or ingredient and jump straight to the recipe you need.
                    </p>
                </div>
            </li>
        </ul>
    </section>
    <section class ="real-life">
        <div class="real-life__content">
            <h2 class="text-present-2">Built for real life</h2>
            <p class="text-present-6">Cooking shouldn’t be complicated. These recipes come
                in under <span>30 minutes</span> of active time, fit busy schedules,
                and taste good enough to repeat. </p>
            <p class="text-present-6">
                Whether you’re new to the kitchen or just need fresh ideas, we’ve got you covered.
            </p>
        </div>
        <div class="real-life__image">
            <img class="real-life__img"
                 alt="real life cooking scene"
                 src="assets/images/image-home-real-life-large.webp"
                decoding="async"
                fetchpriority="high"/>
        </div>
    </section>
    <section class="cta-section">
        <app-cta></app-cta>
        <!--div class="cta">
            <div class="cta__content">
                <h2 class="text-present-2">Ready to cook smarter?</h2>
                <p class="text-present-6">Hit the button, pick a recipe, and get dinner on the table—fast.</p>
            </div>
            <div class="cta__actions">
                <button class="btn btn-neutral mx-auto">
                    Browse recipes
                </button>
            </div>
        </div-->
    </section>
</main>
