<div class="container">
    <main class="card">
        <section class="card-img my-0">
            <picture>
                <source media="(max-width: 768px)" srcset="assets/img/image-product-mobile.jpg">
                <source media="(min-width: 769px)" srcset="assets/img/image-product-desktop.jpg">
                <img src="assets/img/image-product-desktop.jpg" alt="Product image">
            </picture>
        </section>
        <section class="card-content">
            <div class="card-info">
                <p class="text-preset-4 my-0 color-grey">PERFUME</p>
                <h1 class="text-preset-1 my-0">Gabrielle Essence Eau De Parfum</h1>
                <p class="text-preset-3 my-0">
                    A floral, solar and voluptuous interpretation composed by
                    Olivier Polge, Perfumer-Creator for the House of CHANEL.
                </p>
            </div>
            <div class="card-price my-0">
                <p class="text-preset-5">
                    <strong class="text-preset-1 color-green-500">$149.99</strong>
                    <span class="strikethrough">$169.99</span>
                </p>
            </div>
            <div class="card-button">
                <button class="btn-green">
                    <img src="assets/img/icon-cart.svg" alt="cart">
                    Add to Cart</button>
            </div>
        </section>
    </main>
</div>
