<main class="container">
    <section class="info">
        <h1 class="text-center">
           <span class="text-preset-2">Reliable, efficient delivery</span><br/>
            <strong class="text-preset-1">Powered by Technology</strong>
        </h1>
        <p class="text-preset-4 text-center">
            Our Artificial Intelligence powered tools use millions
            of project data points to ensure that your project is successful
        </p>
    </section>
    <section class="group-cards">
        <div class="card">
            <div class="card-info">
                <h2>
                    Supervisor
                </h2>
                <p class="card-description">
                    Monitors activity to identify project roadblocks
                </p>
            </div>
            <div class="card-icom">
                <img src="assets/images/icon-supervisor.svg" alt="Supervisor icon" />
            </div>
        </div>
        <div class="card">
            <div class="card-info">
                <h2>
                    Team Builder
                </h2>
                <p class="card-description">
                    Scans our talent network to create the optimal team for your project                </p>
            </div>
            <div class="card-icom">
                <img src="assets/images/icon-team-builder.svg" alt="Team builder" />
            </div>
        </div>
        <div class="card">
            <div class="card-info">
                <h2>
                    Karma
                </h2>
                <p class="card-description">
                    Regularly evaluates our talent to ensure quality            </div>
            <div class="card-icom">
                <img src="assets/images/icon-karma.svg" alt="karma icon" />
            </div>
        </div>
        <div class="card">
            <div class="card-info">
                <h2>
                    Calculator
                </h2>
                <p class="card-description">
                    Uses data from past projects to provide better delivery estimates
                <div class="card-icom">
                    <img src="assets/images/icon-calculator.svg" alt="calculator icon" />
                </div>
            </div>
        </div>
    </section>
</main>
